{% extends "../template.html.njk" %}

{% block content %}
    <div class="login-area">
        <form method="post">
            <div class="d-flex align-items-center mb-3">
                <img class="logo" src="/images/dimigo-logo.png" alt="LOGO"/>
                <h1 class="mb-0 ms-2">DIMIGO BOARD</h1>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="hyunmui@outlook.kr"/>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" value="qwe12#"/>
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox my-3">
                <label>
                    <input type="checkbox" value="remember-me"/>
                    Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        </form>
    </div>
{% endblock %}